    *{
      font-family: 'Poppins', sans-serif;
      font-family: 'Roboto', sans-serif;
     margin: 0;
     padding: 0;
     /* background-image: url(./image/study14.jpeg); */
    }

    .container{
      width: 1200px;
      padding-left: 10px;
      padding-right: 10px;
      /* background-color: aqua; */
      margin: auto;
    }

    .top-container{
      position: relative;
    }

    .description1{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }


    .description1 h1 {
      width: 50%;
      line-height: 65px;
      font-size: 51px;
    }
   
     .description1 p{
      padding-top: 28px;
      font-size: 23px;
      width: 36%;
      padding-bottom: 15px;
     }
    


      .box-1{
         width: 100%;
         display: flex;
         background-color: #f0bc2c;
         height: 500px;
      }


      .box-1-left{
         flex: 1;
      }


      .box-1-right{
         flex: 1;
      }

      .box-1-right-img{
         width: 100%;
         height: 100%;
         object-fit: cover;
         object-position: center;
      }

      .box-1-btn{
         margin-top: 10px;
         border: 2px solid black;
         background-color: black;
         color: white;
         padding: 5px;
         padding-left: 17px;
         padding-right: 17px;
         padding-top: 8px;
         padding-bottom: 8px;
         margin-top: 30px;
      }



       .box-2{
         display: flex;
         justify-content: space-between;
         margin: auto;
         width: 100%;
         padding: 50px 0;
         }

         .icon2{
          font-size: 40px;
         }

         .box-2 p{
          font-size: 17px;
          margin-top: 16px;
          padding-bottom: 0px;
          line-height: 25px;
          font-weight: 500;
         }

         .box-2 h3{
          font-weight: 500;
          line-height: 32unsetpx;
          margin-top: 25px;
          font-size: 25px;
        }
         

         
         
         .box2-sub1 h2{
          font-weight: 500;
          line-height: 57px;
          font-size: 33px;
          color: rgb(76, 76, 76);
         }
         
         
         .box2-sub1 p{
          font-size: 15px;
          margin-top: 10px;
          line-height: 24px;
          color: rgb(81, 81, 81);
      }

         
         
         .box2-sub1{  
           width: 27%;
           text-align: left;
           height: 275px;
            border-radius: 6px;
            padding-top: 36px;
            padding-right: 30px;
         }

         .box2-sub2{
            width: 26%;
            background-color: #f0bc2c;
            height: 275px;
            border-radius: 10px;
            padding-top: 36px;
            padding-right: 30px;
            padding-left: 30px;
         }

         .box2-sub3{
            width: 26%;
            background-color: #f0bc2c;
            height: 275px;
            border-radius: 10px;
            padding-top: 36px;
            padding-right: 30px;
            padding-left: 30px;
         }

      
      
         
       .subbox{
        border: 1px solid black;
        border-radius: 8px;
       }

       .container3{
        display: flex;
        justify-content: center;
        width: 80%;
        margin: auto;
       }

       .box3{
        background-color: rgb(194, 217, 237);
        /* height: 500px; */
        padding-top: 15px;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        padding-bottom: 25px;
       }
       
       .box-3{
             display: flex;
             justify-content: center;
             flex-direction: column;
            }
       
       
       .box-3 p{
        width: 94%;
        font-size: 17px;
        padding-top: 17px;
        padding-bottom: 42px;
        line-height: 24px;
        color: rgb(72, 72, 72);
       }

       .box-3 h2{
        font-weight: 500;
        line-height: 40px;
        font-size: 30px;
        color: rgb(51, 51, 51);
       }

       .box-3 h4{
         font-weight: 500;
         line-height: 40px;
         font-size: 22px;
       }

     

       .box-3-sub1{
         justify-content: center;
         padding-top: 13px;
         margin-bottom: 20px;
       }

        .box-3-btn{
         border: 1px solid #f0bc2c;
         color: #f0bc2c;
         padding-left: 30px;
         padding-right: 30px;
         padding-top: 8px;
         padding-bottom: 8px;
         background-color: rgb(194, 217, 237);
       } 

       .box-3-sub2{
        display: flex;
        flex-direction: row;
       }

       .box-3-sub2-sub1{
        display: flex;
        align-items: center;
       }

       .box-3-sub2-sub1-sub1{
        width: 75%;
        border-radius: 2px;
        height: 310px;
       }

       .box-3-sub2-sub1-sub1-img{
          width: 100%;
          height: 100%;
          border-radius: 1px;
          object-fit: cover;
            object-position: center;
       }

       .box-3-sub2-sub1-sub2{
        text-align: left;
        padding-left: 41px;
        padding-right: 16px;
         
       }

       .box-3-sub2-sub2{
        width: 70%;
       }

       .box-3-sub2-sub{
        height: 180px;
        padding-top: 5px;
        padding-right: 0px;
        padding-bottom: 5px;
       }

       .box-3-sub2-sub2-img{
         margin-bottom: 5px;
         width: 100%;
         height: 100%;
       } 

       .box-4{
            /* height: 350px; */
            display: flex;
            justify-content: center;
            margin: auto;
            width: 100%;
            padding: 50px 0;
       }

       .box-4 p{
        font-size: 17px;
        padding-top: 20px;
        padding-bottom: 10px;
        line-height: 30px;
        color: rgb(72, 72, 72);
    }

       .box-4 h2{
        font-weight: 500;
        line-height: 45px;
        font-size: 30px;
        color: rgb(51, 51, 51);
       }



       .box-4-sub1{
        height: 375px;
        width: 45%;
        object-fit: cover;
       }

       
       .box-4-sub2{
          text-align: left;
          padding-left: 30px;
          width: 75%;
          padding-top: 10px;
         }
         
         .box-4-sub1-img{
            width: 100%;
            height: 100%;
         }

       .box-4-btn{
         margin-top: 55px;
          background-color: black;
          border: 1px solid black;
          border-radius: 20px;
          color: white;
          padding-top: 7px;
          padding-bottom: 7px;
          padding-left: 30px;
          padding-right: 30px;
       }

       .container4{
         display: flex;
         justify-content: center;
         
       }

       .box-4-sub3{
         display: flex;
         justify-content: center;
         width: 100%;
         /* height: 100px; */
         background-color: rgb(19 179 195);
         border-radius: 15px;
         margin-bottom: 30px;
         margin-top: 30px;
         /* padding-bottom: 45px; */
       }



       

       .box-4-sub3-sub1{
          flex: 1;
          padding: 25px;
          text-align: center;
          color: white;
       }

       .box-4-sub3-sub2{
          flex: 2;
          text-align: center;
          padding: 25px;
          color: white;
       }

       .box-4-sub3-sub3{
          flex: 1;
          padding: 25px;
          text-align: center;
          color: white;
       }

       .box-4-sub3 p{
         font-size: 25px;
         font-weight: 700;
         padding-top: 30px;
     }
       


       .box-5{
         /* height: 300px; */
         display: flex;
         flex-direction: row;
         background-image: url(./image/study17.jpg);
         background-repeat:no-repeat;
         background-size:cover;
         background-position: center center;
         /* opacity: 0.7; */
         padding-top: 50px;
        padding-bottom: 50px;

       }
       .text{
         display: flex;
         flex-direction: column;
         justify-content: center;
         text-align: center;
         color: white;
         width: 52%;
       }

       .text p{
         line-height: 30px;
       }



      .box-5-sub2-btn{
         margin-top: 10px;
         border-radius: 16px;
         padding-left: 30px;
         padding-right: 30px;
         padding-top: 7px;
         padding-bottom: 7px;
         color: rgb(119, 188, 238);
         border: 1px solid rgb(119, 188, 238);
      }

      .icon5{
        font-size: 30px;
      }

      @media screen and  (max-width:1258px){
        .container{
          width: 80%;
          padding-left: 10px;
          padding-right: 10px;
          /* background-color: aqua; */
          margin: auto;
        }

        .container3{
          display: flex;
          justify-content: center;
          width: 80%;
          margin: auto;
        }

        .icon2{
          font-size: 30px;
         }

        .box2-sub1{  
          width: 27%;
          text-align: left;
          height: 215px;
           border-radius: 6px;
           padding-top: 20px;
           padding-right: 25px;
        }

        .box2-sub2{
           width: 24%;
           background-color: #f0bc2c;
           height: 215px;
           border-radius: 10px;
           padding-top: 20px;
           padding-right: 30px;
           padding-left: 25px;
        }

        .box2-sub3{
           width: 24%;
           background-color: #f0bc2c;
           height: 215px;
           border-radius: 10px;
           padding-top: 20px;
           padding-right: 30px;
           padding-left: 25px;
        }

        .box-2 p{
          font-size: 11px;
          margin-top: 16px;
          padding-bottom: 0px;
          line-height: 15px;
          font-weight: 500;
         }

         .box-2 h3{
          font-weight: 500;
          line-height: 32px;
          margin-top: 20px;
          font-size: 21px;
        }
         

         .box2-sub1 h2{
          font-weight: 500;
          line-height: 33px;
          font-size: 22px;
          color: rgb(76, 76, 76);
         }
         
         
         .box2-sub1 p{
          font-size: 11px;
          margin-top: 10px;
          line-height: 17px;
          color: rgb(81, 81, 81);
        }

        .box-3{
          display: flex;
          justify-content: center;
          flex-direction: column;
         }


          .box-3-sub2-sub1-sub1 {
            width: 75%;
            border-radius: 2px;
            height: 280px;
          }

          .box-3 p {
            width: 90%;
            font-size: 13px;
            padding-top: 10px;
            padding-bottom: 21px;
            line-height: 20px;
            color: rgb(72, 72, 72);
        }

         .box-4 p {
          font-size: 13px;
          padding-top: 20px;
          padding-bottom: 10px;
          line-height: 20px;
          color: rgb(72, 72, 72);
      }

        .box-4 h2 {
          font-weight: 500;
          line-height: 35px;
          font-size: 22px;
          color: rgb(51, 51, 51);
      }

          .box-4-sub1 {
            height: 305px;
        }

        .box-4-sub3-sub1 {
          flex: 1;
          padding-left: 25px;
          text-align: center;
          color: white;
          padding-right: 25px;
          padding-top: 20px;
          padding-bottom: 15px;
      }
        .box-4-sub3-sub2 {
          flex: 1;
          padding-left: 25px;
          text-align: center;
          color: white;
          padding-right: 25px;
          padding-top: 20px;
          padding-bottom: 15px;
        }
        .box-4-sub3-sub3 {
          flex: 1;
          padding-left: 25px;
          text-align: center;
          color: white;
          padding-right: 25px;
          padding-top: 20px;
          padding-bottom: 15px;
        }

        .box-4-sub3 p {
          font-size: 17px;
          font-weight: 700;
          padding-top: 20px;
        }


        .box-5 {
          padding-top: 30px;
          padding-bottom: 30px;
        }

      .text p {
        line-height: 25px;
        font-size: 13px;
      }

      .text h1{
        font-size: 25px;
      }
       
      
      }

      @media screen and (max-width:935px) {
            .description1 h1 {
              width: 203px;
              line-height: 30px;
              font-size: 23px;
          }



          .description1 p {
              padding-top: 10px;
              font-size: 11px;
              width: 202px;
          }

          .box-1 {
            height: 335px;
          }

          .box-1-btn {    
              padding-left: 10px;
              padding-right: 10px;
              padding-top: 5px;
              padding-bottom: 5px;
              margin-top: 7px;
              font-size: 11px;
          }

          .icon2 {
                font-size: 25px;
            }

          .box2-sub1 p {
            font-size: 8px;
            margin-top: 10px;
            line-height: 10px;
            color: rgb(81, 81, 81);
          }

          .box2-sub1 h2 {
            font-weight: 500;
            line-height: 20px;
            font-size: 12px;
            color: rgb(76, 76, 76);
        }

          .box-2 h3 {
            font-weight: 500;
            line-height: 17px;
            margin-top: 7px;
            font-size: 13px;
        }
        
          .box-2 p {
            font-size: 8px;
            margin-top: 6px;
            padding-bottom: 0px;
            line-height: 10px;
            font-weight: 500;
        }

          .box2-sub1 {
            width: 30%;
            /* background-color: #f0bc2c; */
            height: 135px;
            border-radius: 10px;
            padding-top: 10px;
            padding-right: 5px;
        }

          .box2-sub2 {
            width: 27%;
            background-color: #f0bc2c;
            height: 135px;
            border-radius: 10px;
            padding-top: 10px;
            padding-right: 5px;
            padding-left: 15px;
            margin-left: 5px;
            margin-right: 5px;
        }

          .box2-sub3 {
            width: 27%;
            background-color: #f0bc2c;
            height: 135px;
            border-radius: 10px;
            padding-top: 10px;
            padding-right: 5px;
            padding-left: 15px;
        }


          .box3 {
            background-color: rgb(194, 217, 237);
            /* height: 295px; */
            padding-top: 10px;
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            padding-bottom: 20px;
        }

          .box-3 h4 {
            font-weight: 500;
            line-height: 20px;
            font-size: 12px;
        }

          .box-3 h2 {
            font-weight: 500;
            line-height: 21px;
            font-size: 12px;
            color: rgb(51, 51, 51);
        }

          .box-3 p {
            font-size: 7px;
            padding-top: 5px;
            padding-bottom: 10px;
            line-height: 10px;
            color: rgb(72, 72, 72);
        }

        
        .box-3-btn {
          padding-left: 8px;
          padding-right: 8px;
          padding-top: 4px;
          padding-bottom: 4px;
          background-color: rgb(194, 217, 237);
          font-size: 10px;
        }
        
        .box-3-sub2-sub1-sub1 {
          
            width: 150%;
            border-radius: 2px;
            height: 160px;
        }
        
        .box-3-sub2-sub1-sub2 {
          text-align: left;
          padding-left: 10px;
          padding-right: 10px;
        }
        
            .box-3-sub2-sub2 {
              width: 100%;
          }

          .box-3-sub2-sub {
            height: 100px;
            padding-top: 2px;
            padding-right: 0px;
            padding-bottom: 2px;
        }
          .box-4 h2 {
            font-weight: 500;
            line-height: 20px;
            font-size: 12px;
            color: rgb(51, 51, 51);
        }

          .box-4 p {
            font-size: 6px;
            padding-top: 20px;
            padding-bottom: 10px;
            line-height: 12px;
            color: rgb(72, 72, 72);
        }


          .box-4-sub1 {
            height: 188px;
            width: 50%;
            object-fit: cover;
        }

          .box-4-btn {
            margin-top: 0px;
            border-radius: 13px;
            color: white;
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 14px;
            padding-right: 14px;
            font-size: 9px;
        }

        .icon5{
          font-size: 20px;
        }


          .box-4-sub3 p {
            font-size: 11px;
            font-weight: 700;
            padding-top: 15px;
        }


          .box-4-sub3 {
            margin-top: 0px;
            border-radius: 10px;
            /* padding-bottom: 45px; */
        }

        .box-4-sub3-sub1 {
          padding-top: 15px;
          padding-bottom: 10px;
          padding-left: 0px;
            padding-right: 0px;
      }


          .box-4-sub3-sub2 {
            padding-top: 15px;
            padding-bottom: 10px;
            padding-left: 0px;
            padding-right: 0px;
        }


        .box-4-sub3-sub3 {
          padding-top: 15px;
          padding-bottom: 10px;
          padding-left: 0px;
            padding-right: 0px;
      }

      .text p {
        line-height: 10px;
        font-size: 6px;
        padding-top: 10px;
      }

        .box-5-sub2-btn {
          margin-top: 5px;
          border-radius: 16px;
          padding-left: 15px;
          padding-right: 15px;
          padding-top: 6px;
          padding-bottom: 6px;
          color: rgb(119, 188, 238);
          border: 1px solid rgb(119, 188, 238);
          font-size: 7px;
      }

        .text h1 {
          font-size: 15px;
      }

    }


    /* @media screen and (max-width:550px) {
          .description1 h1 {
            width: 208px;
            line-height: 26px;
            font-size: 17px;
        }

          .description1 p {
            padding-top: 10px;
            font-size: 8px;
            width: 149px;
        }

            .box-1 {
              height: 250px;
          }

          .box-1-btn {
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 5px;
            padding-bottom: 5px;
            margin-top: 5px;
        }

          .box2-sub1 h2 {
            font-weight: 500;
            line-height: 11px;
            font-size: 8px;
            color: rgb(76, 76, 76);
        }

        .icon2 {
          font-size: 15px;
      }

          .box-2 h3 {
            font-weight: 500;
            line-height: 10px;
            margin-top: 7px;
            font-size: 9px;
        }

          .box-2 p {
            font-size: 5px;
            margin-top: 6px;
            padding-bottom: 0px;
            line-height: 8px;
            font-weight: 500;
        }


        .box2-sub1 {
          width: 27%;
          height: 100px;
          border-radius: 10px;
          padding-top: 10px;
          padding-right: 5px;
      }


      .box2-sub2 {
        width: 27%;
        background-color: #f0bc2c;
        height: 100px;
        border-radius: 10px;
        padding-top: 10px;
        padding-right: 5px;
        padding-left: 15px;
    }


        .box2-sub3 {
          width: 27%;
          background-color: #f0bc2c;
          height: 100px;
          border-radius: 10px;
          padding-top: 10px;
          padding-right: 5px;
          padding-left: 15px;
      }
    
        .box-3 h2 {
          line-height: 14px;
          font-size: 8px;
      }
       

          .box-3 p {
            font-size: 5px;
            padding-top: 5px;
            padding-bottom: 10px;
            line-height: 8px;
        }

        .box-3-sub1 {
            padding-top: 0px;
            margin-bottom: 15px;
        }


        .box-3-sub2-sub {
          height: 85px;
         
      }

        .box-3-btn {
          padding-left: 6px;
          padding-right: 6px;
          padding-top: 2px;
          padding-bottom: 2px;
          font-size: 8px;
      }

          .box-3-sub2-sub1-sub1 {
            width: 150%;
            border-radius: 2px;
            height: 136px;
        }

            .box-3 h4 {
              font-weight: 500;
              line-height: 15px;
              font-size: 10px;
          }


          .box-4 h2 {
            font-weight: 500;
            line-height: 14px;
            font-size: 8px;
            
        }

        .box-4 p {
          font-size: 6px;
          padding-top: 20px;
          padding-bottom: 10px;
          line-height: 9px;
        }

          .box-4-sub1 {
            height: 160px;
        }


        .box-4-btn {
          margin-top: 0px;
          background-color: black;
          border: 1px solid black;
          border-radius: 12px;
          color: white;
          padding-top: 5px;
          padding-bottom: 5px;
          padding-left: 10px;
          padding-right: 10px;
          font-size: 7px;
      }

      .box-4-sub3 p{
        font-size: 9px;
      }

      
    }

    @media screen and (max-width: 395px) {
        .description1 h1 {
          width: 130px;
          line-height: 15px;
          font-size: 11px;
      }

        .description1 p {
          padding-top: 6px;
          font-size: 5px;
          width: 94px;
          padding-bottom: 10px;
      }

        .box-1 {
          height: 150px;
      }

        .box-1-btn {
          padding-left: 3px;
          padding-right: 3px;
          padding-top: 1px;
          padding-bottom: 1px;
          margin-top: 0px;
          font-size: 8px;
      }
      


      .box-2{
        padding: 25px 0;
        flex-wrap: wrap;
        gap: 7rem;
      }

        .box2-sub1 h2 {
         
          line-height: 10px;
          font-size: 7px;
          padding-top: 7px;
         
      }


        .box-2 p {
          font-size: 4px;
          margin-top: 5px;
          padding-bottom: 0px;
          line-height: 5px;
          font-weight: 500;
      }

      .icon2 {
        font-size: 10px;
      }

        .box-2 h3 {
          font-weight: 500;
          line-height: 9px;
          margin-top: 2px;
          font-size: 7px;
      }

          .box2-sub1 {
            width: 28%;
           
            height: 68px;
            border-radius: 6px;
            padding-top: 3px;
            padding-right: 2px;
            padding-left: 5px;
        }
          .box2-sub2 {
            width: 28%;
            background-color: #f0bc2c;
            height: 68px;
            border-radius: 6px;
            padding-top: 3px;
            padding-right: 2px;
            padding-left: 5px;
        }
          .box2-sub3 {
            width: 28%;
            background-color: #f0bc2c;
            height: 68px;
            border-radius: 6px;
            padding-top: 3px;
            padding-right: 2px;
            padding-left: 5px;
            }



            .box3 {
                 
                  padding-top: 5px;
                  padding-bottom: 10px;
              }


            .box-3 h2 {
              line-height: 10px;
              font-size: 6px;
          }

            .box-3 p {
              font-size: 4px;
              padding-top: 5px;
              padding-bottom: 5px;
              line-height: 5px;
          }

            .box-3-btn {
              padding-top: 2px;
              padding-bottom: 2px;
              font-size: 3px;
          }


            .box-3-sub2-sub2 {
              width: 80%;
          }

            .box-3-sub2-sub {
              height: 70px;
          }

            .box-3 h4 {
              line-height: 10px;
              font-size: 7px;
          }


            .box-3-sub1 {
             
              padding-top: 10px;
              margin-bottom: 5px;
          }
        

            .box-3-sub2-sub1-sub1 {
              width: 110%;
              border-radius: 2px;
              height: 95px;
          }


          .box-4{
            padding: 15px 0;
          }

            .box-4 h2 {
              line-height: 10px;
              font-size: 5px;
          }

            .box-4 p {
              font-size: 4px;
              padding-top: 10px;
              padding-bottom: 10px;
              line-height: 7px;
          }

            .box-4-btn {
              margin-top: 0px;
              background-color: black;
              border: 1px solid black;
              border-radius: 15px;
              color: white;
              padding-top: 4px;
              padding-bottom: 4px;
              padding-left: 15px;
              padding-right: 15px;
              font-size: 4px;
          }

            .box-4-sub1 {
              height: 105px;
          }


            .box-4-sub2 {
              text-align: left;
              padding-left: 10px;
              width: 75%;
              padding-top: 10px;
          }

            .icon5 {
              font-size: 10px;
          }

            .box-4-sub3 p {
              font-size: 5px;
              font-weight: 700;
              padding-top: 5px;
          }

          .box-4-sub3{
            margin-bottom: 10px;
            border-radius: 7px;
          }

            .box-4-sub3-sub1 {
              flex: 1;
              padding-left: 0px;
              text-align: center;
              color: white;
              padding-right: 0px;
              padding-top: 5px;
              padding-bottom: 8px;
          }

          .box-4-sub3-sub2 {
            flex: 1;
            padding-left: 0px;
            text-align: center;
            color: white;
            padding-right: 0px;
            padding-top: 5px;
            padding-bottom: 8px;
        }

        .box-4-sub3-sub3 {
          flex: 1;
          padding-left: 0px;
          text-align: center;
          color: white;
          padding-right: 0px;
          padding-top: 5px;
          padding-bottom: 8px;
      }

          .box-5-sub2-btn {
            margin-top: 0px;
            border-radius: 16px;
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 5px;
            padding-bottom: 4px;
            font-size: 3px;
        }

        .text h1 {
            font-size: 11px;
        }

        .text p {
              line-height: 9px;
              font-size: 4px;
              padding-top: 10px;
          }

         
    } */


    @media screen and (max-width: 768px) {
      .box-2 {
          flex-direction: column;
          align-items: center;
      }

      .container3{
        display: flex;
        justify-content: center;
        width: 100%;
        margin: auto;
       }

       .description1 h1 {
            width: 300px;
            line-height: 45px;
            font-size: 30px;
        }

          .description1 p {
            padding-top: 10px;
            font-size: 20px;
            width: 202px;
            line-height: 27px;
        }

        .box-1-btn {
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 7px;
            padding-bottom: 7px;
            margin-top: 7px;
            font-size: 18px;
        }

      .box2-sub1 {
          width: 100%;
          /* background-color: #f0bc2c; */
          height: 25vh;
          border-radius: 10px;
          padding: 0px;
          margin: 10px;
              padding: 20px;
      }

      .box2-sub1 h2 {
          font-weight: 500;
          line-height: 60px;
          font-size: 50px;
          color: rgb(76, 76, 76);
      }


      .box2-sub2 {
          width: 75%;
          background-color: #f0bc2c;
          height: 25vh;
          border-radius: 10px;
          padding: 0px;
          margin: 10px;
            padding: 20px;
      }
      .box2-sub3 {
          width: 75%;
          background-color: #f0bc2c;
          height: 25vh;
          border-radius: 10px;
          padding: 0px;
          margin: 10px;
            padding: 20px;
      }

            .icon2 {
          font-size: 50px;
      }

      .box-2 h3 {
              font-weight: 500;
              line-height: 55px;
              margin-top: 7px;
              font-size: 40px;
      }

          .box-2 p {
          font-size: 30px;
          margin-top: 45px;
          padding-bottom: 0px;
          line-height: 40px;
          font-weight: 500;
      }



      .box-3-sub2 {
          display: flex;
          flex-direction: column-reverse;
          justify-content: center;
          align-items: center;
      }


      .box-3 h4 {
          font-weight: 500;
          line-height: 25px;
          font-size: 25px;
      }

       .box-3-sub2-sub1 {
          flex-direction: row-reverse;
      }

      .box-3-sub2-sub1-sub1 {
          width: 145%;
          border-radius: 2px;
          height: 300px;
      }

      .box-3-sub2-sub1-sub2 {
          text-align: left;
          padding-left: 0px;
          padding-right: 0px;
      }

      .box-3 h2 {
          font-weight: 500;
          line-height: 50px;
          font-size: 37px;
          color: rgb(51, 51, 51);
      }

      .box-3 h4 {
          font-weight: 500;
          line-height: 50px;
          font-size: 32px;
      }

      .box-3 p {
          font-size: 29px;
          padding-top: 20px;
          padding-bottom: 10px;
          line-height: 39px;
          color: rgb(72, 72, 72);
      }

      .box-3-btn {
          padding-left: 15px;
          padding-right: 15px;
          padding-top: 8px;
          padding-bottom: 8px;
          background-color: rgb(194, 217, 237);
          font-size: 25px;
          margin-top: 20px;
      }

      .box-3-sub2-sub2 {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
      }

      .box-3-sub2-sub2-img {
          margin-bottom: 5px;
          width: 100%;
          height: 100%;
          border-radius: 10px;
      }

      .box-3-sub2-sub {
          height: 185px;
          padding-top: 10px;
          padding-right: 0px;
          padding-bottom: 30px;
      }

      .box-4{
        flex-direction: column-reverse;
      }

      .box-4-sub1 {
          object-fit: cover;
          transform: translateX(50%);
      }

      .box-4-sub2 {
          text-align: left;
          padding-left: 0px;
          width: 100%;
          padding-bottom: 20px;
      }


      .box-4 h2 {
          font-weight: 500;
          line-height: 50px;
          font-size: 37px;
          color: rgb(51, 51, 51);
      }

      .box-4 p {
          font-size: 29px;
          padding-top: 20px;
          padding-bottom: 10px;
          line-height: 39px;
          color: rgb(72, 72, 72);
      }


      .box-4-btn {
          margin-top: 15px;
          border-radius: 25px;
          color: white;
          padding-top: 10px;
          padding-bottom: 10px;
          padding-left: 30px;
          padding-right: 30px;
          font-size: 20px;
          transform: translate(85%);
      }


      .box-4-sub3 p {
          font-size: 22px;
          font-weight: 700;
          padding-top: 15px;
      }

      .icon5 {
          font-size: 35px;
      }
      .text{
        width: 95%;
      }

      .text h1 {
            font-size: 27px;
        }

      .text p {
          line-height: 30px;
          font-size: 18px;
          padding-top: 10px;
      }

      .box-5-sub2-btn {
        font-size: 10px;
    }


    }